<!-- One-way binding: interpolations ({{value}}) -->
<!-- Two-way binding: [(ngModel)]="property" -->
<!-- Pipes: uppercase, lowercase, date, percent ... (value | pipe) -->
<!-- Structural Directives: *ngIf, *ngFor, *ngSwitch -->
<!-- Attribute directives: [ngClass]='condition ? classA : classB, [class.name]='condiiton' -->
<!-- Events: click, move ((event)="handler()") -->
<h2>Create New Task</h2>
<div class="create-form-block">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="currentItem.name" matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input [(ngModel)]="currentItem.date" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="currentItem.completed" color="primary" class="example-margin">Completed</mat-checkbox>
    <button (click)="create()" mat-raised-button color="primary">Create</button>
    <!-- <label>
        <span>Name: </span>
        <input [(ngModel)]="currentItem.name" type="text">
    </label>
    <label>
        <span>Date: </span>
        <input [(ngModel)]="currentItem.date" type="date">
    </label>
    <label>
        <span>Completed: </span>
        <input [(ngModel)]="currentItem.completed" type="checkbox">
    </label>
    <button (click)="create()">Create</button> -->
</div>


<h2>To Do List</h2>

<div *ngIf="!items || items.length == 0" class="text-center">
    <!-- <p>No elements!</p> -->
    <img src="https://cdn.dribbble.com/users/1363659/screenshots/3285428/done800x600.gif" alt="No items" width="450">
</div>
<div *ngFor="let item of items" class="todo-item" [class.item-done]="item.completed" (click)="done(item)"
    (dblclick)="remove(item)">
    <p>Name: {{item.name | uppercase}}</p>
    <p>Date: {{item.date | date: 'medium'}}</p>
    <p>Completed: {{item.completed ? 'Yes' : 'No'}}</p>
</div>